*{
	margin: 0px;
	padding: 0px;
  color:#222;
  box-sizing: border-box;
}
/*******************Head****************************/
.upor{
  
}
mark{
  color:  #ff0066;
}
.py_headl{
  margin:auto;
}
.py_headl img{
  height: 65px;
}

.py_headr h2{
  color: #222;
}
.py_headr i{
  color: #5500ff;
}


.py_headrr img{
  width: 30px;
  margin:3px;
  border-radius: 2px;
  margin-top: 25px;
}
.py_headrr img:hover{
  opacity: 0.3;
}
/***************************input****************************/
input[type=text] {
    width: 125px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px; 
    background-image: url('imgs/search.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding:3px 20px 9px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-top: 7px;
}

input[type=text]:focus {
    width: 100%;
}

/************************Slide Show*************************************/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*********************************Nav**********************************************/
.rr{
  float: left;
}


.bor{
	width: 100%;
	background-color:  #004d3d;
}
nav{
	margin-top: 20px;

  
}
/**********************nav***********************/
 /* Remove margins and padding from the list, and add a black background color */

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* Float the list items side by side */
ul.topnav li {
	float: left;
  background-color: #004d3d;


}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    font-family: sans-serif;
}

/* Change background color of links on hover */
ul.topnav li a:hover{
  background-color: #003333;
}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

 /* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}






/************Midel*********************/
.midil{
  width: 100%;
  height: 400px;

}
/****************SlidShow******************/
section img{
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;
  border:20px solid #196666;
  border-radius: 2px;

}

/****************************midel*****************************/
.midel1{
  width: 100%;
  height: auto;
  background-color: #002233;
  padding:0px 0px 25px;
  
}
.midel1 h4{
  color: #ccc;
  letter-spacing: 1px;
  font-family: sans-serif;
}
.midel{
  text-align: center;
  margin-top: 30px;
  background-color: #002233;
  border:2px solid rgba(26, 98, 98, 1);
  border-radius: 80px 5px 80px;  
}



.midel:hover{
  background-color: #00111a;
}
.midel img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  opacity: 0.5;
  margin-top: 15px;
}
.midel i{
  color: #ccc;
  opacity: 0.6;
}



/********************************************Center**************************************************/
.center{
  width: 100%;
  height: auto;
  background-color: #00111a;
}
.c_centerl{
  width: 100%;
  height: auto;
  padding-top: 10px;
}
.c_centerl h2{
  color: #ccc;
  opacity: 0.8;
}
.c_centerl p{
  color: #ccc;
  font-family:sans-serif;
  letter-spacing: 1px;
  opacity: 0.5;
}
.c_center_r img{
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  margin:50px;
}
.c_centerl button{
  margin: 10px;
}


/********************Python Enh*********************/
.py_Enh{
  width: 100%;
  height: auto;
  background-color: #ccc;
  border-radius: 5px;
}
.py_Enhl{
  padding:30px 10px 30px;
}
.py_Enhl h3{
  padding-top: 10px;
}
.py_Enhr{
  padding:30px 10px 30px;
}
.py_Enhr img{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  opacity: ;
}
.py_Enhr img:hover{
  opacity: 0.4;
}

/**************************************News******************************/
.News{
  background-color: #00111a;
}
.News h2{
  color: #cff;
}
.News p{
  color: #ccc;
}


/*************************/
.success1 h2{
  color: #cff;
}
.success1 i{
  padding:10px 0px 20px;
  letter-spacing: 2px;
  color: #ccc;
}
.success1{
  background-color: #00111a;
  
}
.success1 img{
  width: 300px;
  height: 135px;
  border-radius: 1px;
}


.success{
  background-color: #00111a;
}
.success h2{
  color: #cff;
}
.success p{
  color: #ccc;
}
hr{
  background-color: #444;
}


/******************************Footer*************************/
.f{
  text-align: center;
  background-color:#00111a;
}
center h4{
  color: #000;
}

/*******************************Last*****************************/
.last{
  width: 100%;
  height: auto;
  background-color: #000000;
  text-align: center;
  padding:20px 0px 10px;
}
.Last a{
  margin:10px;
}
.Last i{
  color: #444;
  letter-spacing: 1px;
}